/* center the container */
body {
    margin: 0;
    padding: 0;
}

body p{
    font-family: "Avenir Next", Lato, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
    line-height: 1.5 !important;
    color: #7e7e7e !important;
}

body p strong {
    color: #3e3e3e !important;
}

.overlay {
    background: url(http://www.freepeople.com/resources/_shared/images/layout/_fp/loading-icon-small.gif) no-repeat center center;
    background-color: rgba(255, 255, 255, .8);
    height: 900px;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#target {
    display: none;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 800px;
    position: relative;
}

.topperIMG {
    height: auto;
    width: 600px;
}

.introTXT {
    margin-left: 11px;
}

a {
    font-family: Lato, "Avenir Next", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #eb5190;
}

a:hover {
    color: #e91f72;
}

h1 {
    font-family: “Hoefler Text”, Baskerville, “Baskerville old face”, Garamond;
    color: #3e3e3e;
    margin-bottom: 5px;
    padding: 0px;
    font-style: italic;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    color: #3e3e3e !important;
}

h2 {
    font-family: Lato, "Avenir Next", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
    color: #3e3e3e;
}

.textarea {
    height: 200px;
    width: 572px;
    border-image: url(http://static.fpassets.com/resources/_shared/images/backgrounds/border-75.png) !important;
    border-image-slice: 1 !important;
    border-image-width: 1 !important;
    border-image-outset: 0 !important;
    border-image-repeat: stretch !important;
    border-radius: 0 !important;
    background: #f7f7f7 !important;
    resize: none;
}

.textarea:focus {
    background: #fff !important;
    outline: none;
    border-image: url(http://static.fpassets.com/resources/_shared/images/backgrounds/border-hotpink.png) !important;
    border-image-slice: 1 !important;
    border-image-width: 1 !important;
    border-image-outset: 0 !important;
    border-image-repeat: stretch !important;
}

.fpForm {
    margin-top: 20px;
    margin-left: 11px;
}

/* field labels */
.fpForm .fpLabel {
    text-transform: uppercase;
    font-family: "Lato","Avenir Next",Arial,Helvetica,sans-serif !important;
    color: #3e3e3e !important;
    font-size: 10px !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    margin-bottom: 5px;
    padding: 0px;
}

/* submit button */
.fpForm .fpSubmit {
    margin: 0 auto 20px auto !important;
    padding: 1px !important;
    width: 125px;
    background: url(http://static.fpassets.com/resources/_shared/images/backgrounds/border-hotpink.png) !important;
}

.fpSubmit input.fpSubmitButton {
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding: 12px !important;
    background-color: #ff008a;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    border: solid 1px #fff;
    width: 100%;
    outline: none;
}

.fpSubmit input.fpSubmitButton:hover {
    background-color: #eb007a;
}

.fpForm .fpCopy {
    margin: 18px auto 20px auto !important;
    padding: 1px !important;
    width: 125px;
    background: url(http://static.fpassets.com/resources/_shared/images/backgrounds/border-hotpink.png) !important;
}

.fpCopy input#copy_button {
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding: 12px !important;
    background-color: #ff008a;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    border: solid 1px #fff;
    width: 100%;
    outline: none;
}

.fpForm .fpClear {
    margin: 18px auto 20px auto !important;
    padding: 1px !important;
    width: 125px;
    background: url(http://static.fpassets.com/resources/_shared/images/backgrounds/border-hotpink.png) !important;
}

.fpClear input#clear_button {
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding: 12px !important;
    background-color: #ff008a;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    border: solid 1px #fff;
    width: 100%;
    outline: none;
}