/*************************
 *    MARKUP ELEMENTS    *
 *************************/

    body { margin: 0; padding: 0; }

    p {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        color: #3e3e3e;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        letter-spacing: 1px;
        color: #3e3e3e;
        text-transform: uppercase;
        margin: 0 0 25px;
    }

    h2 {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #3e3e3e;
        margin: 0;
    }

    a {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 1px;
        color: #3e3e3e;
        margin: 0;
    }

    a:hover { color: #333; }

    ol { margin: 5px 0; padding-left: 16px; }

    li {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 200 ;
        font-size: 11px;
        letter-spacing: 1px;
        color: #7e7e7e;
        margin-left: 0;
        padding-left: 0;
    }

    strong { color: #3e3e3e; }

    textarea {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 200px;
        width: 100%;
        background: #f7f7f7;
        resize: none;
        margin-top: 5px;
        padding: 0;
    }

    textarea:focus { background: #fff; outline: none; }

    label { text-transform: uppercase; }


/************************
 *    MISCELLANEOUS     *
 ************************/

    .container {
        width: 600px;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
    }

    /* "busy" spinner */
    .overlay {
        background: url(../assets/loading-icon-small.gif) no-repeat center center rgba(255, 255, 255, .8) ;
        height: 800px;
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    #target { display: none; }
    .headers { margin: 20px 0 10px; }
    .instructionList { margin: 0 0 20px; }



/************************
 *    BUTTON-RELATED    *
 ************************/

    .textareaContainer { margin: 10px 0; text-transform: uppercase; }

    /* submit button spacing and width */
    form .inlinerSubmit {
        margin: 0 auto;
        padding: 0;
        width: 125px;
    }

    /* copy, clear button spacing and width */
    form .inlinerCopy, form .inlinerClear {
        margin: 0 4px;
        padding: 0;
        width: 125px;
    }

    .btn {
        box-sizing: border-box;
        display: inline-block;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        background-color: #000;
        vertical-align: middle;
        cursor: pointer;
        margin: 0;
        padding: 10px;
        -webkit-transition: background-color .15s;
        transition: background-color .15s;
        border: none;
        width: 100%;
        outline: none;
    }

    .btn:hover {
        background-color: #333;
    }


/************************
 *    FOOTER-RELATED    *
 ************************/

    div.footerlink {
        margin: 10px auto;
        text-align: center;
    }